In [1]:
#Import libraries
import pandas as pd
import numpy as np


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

### Get the data from the Drive

In [2]:
!gdown --id '1dHJT1AkJ-roBpfar-6trD6yfitNPhGNe'

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1dHJT1AkJ-roBpfar-6trD6yfitNPhGNe
To: /content/cleaned_data_for_model.csv
100% 6.04M/6.04M [00:00<00:00, 101MB/s]

In [3]:
df=pd.read_csv('/content/cleaned_data_for_model.csv')
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

,property_type,price,location,city,baths,purpose,bedrooms,Area_in_Marla
0,Flat,10000000,G-10,Islamabad,2,For Sale,2,4.0
1,Flat,6900000,E-11,Islamabad,3,For Sale,3,5.6
2,House,16500000,G-15,Islamabad,6,For Sale,5,8.0
3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,40.0
4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,8.0

#### Defining the dependent and independent variables

In [4]:
x=df.drop(['price'],axis=1)
y=df.iloc[:,1:2]

In [5]:
x

,property_type,location,city,baths,purpose,bedrooms,Area_in_Marla
0,Flat,G-10,Islamabad,2,For Sale,2,4.0
1,Flat,E-11,Islamabad,3,For Sale,3,5.6
2,House,G-15,Islamabad,6,For Sale,5,8.0
3,House,Bani Gala,Islamabad,4,For Sale,4,40.0
4,House,DHA Defence,Islamabad,3,For Sale,3,8.0
...,...,...,...,...,...,...,...
99494,Flat,Bahria Town Karachi,Karachi,3,For Sale,3,8.0
99495,House,Bahria Town Karachi,Karachi,4,For Sale,3,8.0
99496,House,Bahria Town Karachi,Karachi,3,For Sale,3,8.0
99497,House,Bahria Town Karachi,Karachi,4,For Sale,4,14.0
99498,House,Bahria Town Karachi,Karachi,3,For Sale,3,9.4

In [6]:
y

          price
0      10000000
1       6900000
2      16500000
3      43500000
4       7000000
...         ...
99494   7500000
99495   8800000
99496  14000000
99497  14000000
99498   9000000

[99499 rows x 1 columns]

### Firstly we have to do the one-hot encoding to covert the categorical features into numerical

In [7]:
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0,1,2,4])],remainder='passthrough')
x=ct.fit_transform(x)

In [8]:
x

<99499x1406 sparse matrix of type '<class 'numpy.float64'>'
	with 696189 stored elements in Compressed Sparse Row format>

Split the data into train and test

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

### Model Building
In which try all the Regression model and will see the results.

### Linear Regression

In [10]:
#Starting with linear regression
from sklearn.linear_model import LinearRegression
model=LinearRegression()

model.fit(x_train,y_train)
prediction=model.predict(x_test)

In [11]:
linear_model=model.score(x_test,y_test)
print("Linear Model Score:",linear_model)

Linear Model Score: 0.695780839449085

### Decision Tree

In [12]:
from sklearn import tree
dt_model=tree.DecisionTreeRegressor(criterion='squared_error',max_depth=3,max_leaf_nodes=5)
dt_model.fit(x_train,y_train)
dt_score=dt_model.score(x_test,y_test)
print("Decision Tree model score:",dt_score)

Decision Tree model score: 0.7358533641982425

### Random Forest

In [13]:
from sklearn.ensemble import RandomForestRegressor
random_forest_model=RandomForestRegressor(n_estimators=10,
                                          criterion='squared_error',
                                          max_depth=5,
                                          min_samples_leaf=5,)
random_forest_model.fit(x_train,y_train)
random_forest_score=random_forest_model.score(x_test,y_test)
print("Random Forest Score is:",random_forest_score)

<ipython-input-13-e69f0fc28500>:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_forest_model.fit(x_train,y_train)

Random Forest Score is: 0.8169610055375365

KNN

In [15]:
from sklearn.neighbors import KNeighborsRegressor
knn_model=KNeighborsRegressor(n_neighbors=5,
                              weights='distance')
knn_model.fit(x_train,y_train)
knn_score=knn_model.score(x_test,y_test)
print("KNN score:",knn_score)

KNN score: 0.9039369844357242

In [22]:
from sklearn.ensemble import GradientBoostingRegressor
gradient_boost_model=GradientBoostingRegressor(learning_rate=1.0,
                                               n_estimators=20,
                                               max_depth=5,
                                               min_samples_leaf=5
                                               )
gradient_boost_model.fit(x_train,y_train)
gradient_boost_score=gradient_boost_model.score(x_test,y_test)
print("Gradient Boost Model Score:",gradient_boost_score)

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Gradient Boost Model Score: 0.8820127102444784

### XGBoost

In [25]:
import xgboost as xgb
xgb_model = xgb.XGBRegressor(objective="reg:linear", random_state=42)
xgb_model.fit(x_train,y_train)
xgb_score=xgb_model.score(x_test,y_test)
print("XG Boost score:",xgb_score)

[19:10:16] WARNING: ../src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.
XG Boost score: 0.9047424403199563

### ADA Boost

In [29]:
from sklearn.ensemble import AdaBoostRegressor
adaboost_model=AdaBoostRegressor(n_estimators=20,
                                 learning_rate=0.1,
                                 loss='square')
adaboost_model.fit(x_train,y_train)
adaboost_score=adaboost_model.score(x_test,y_test)
print('ADA boost model score:',adaboost_score)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ADA boost model score: 0.7577116516094728

## So from here the best Accuracy Score that we got is from KNN and XG boost so we can any of them to deploy on any machine, so now I will try RandomSearch CV to get the best results from KNN only.

In [38]:
#Prediction
input_data=[['House','Wazir Town','Rawalpindi',4,'For Sale',3,165.9]]
input_data1=pd.DataFrame(input_data,columns=['property_type'	,'location',	'city'	,'baths'	,'purpose'	,'bedrooms',	'Area_in_Marla'])
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0,1,2,4])],remainder='passthrough')
input_data2=ct.fit_transform(input_data1)

input_data2

array([[  1. ,   1. ,   1. ,   1. ,   4. ,   3. , 165.9]])

In [40]:
#Save the model
import pickle
pickle.dump(knn_model, open('House_Price_Prediction_with_KNN.pkl', 'wb'))

In [41]:
pickled_model = pickle.load(open('House_Price_Prediction_with_KNN.pkl', 'rb'))
pickled_model.predict(x_test)

array([[11740000.        ],
       [ 7160000.        ],
       [   25000.        ],
       ...,
       [13000000.        ],
       [ 3370000.        ],
       [ 5346185.37255409]])